<% title = 'Home' %>

    <h2 class="text-secondary text-center mt-4"><%= title %></h2>
	<div class="mx-auto" style="width: 700px;height: 300px;">
		<div id="demo1" class="carousel slide mt-3" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo1" data-slide-to="0" class="active"></li>
    <li data-target="#demo1" data-slide-to="1"></li>
    <li data-target="#demo1" data-slide-to="2"></li>
    <li data-target="#demo1" data-slide-to="3"></li>
    <li data-target="#demo1" data-slide-to="4"></li>
    <li data-target="#demo1" data-slide-to="5"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://cdn.mos.cms.futurecdn.net/PZtqJj8yTeTYnw3WMjdomF.jpg" alt="yellow" width="700" height="300">
      <div class="carousel-caption">
        <h1 class="text-white">Dell XPS 13</h1>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://media.wired.com/photos/65ea34d70264b0ad869cbc18/master/w_2560%2Cc_limit/MacBook-Air-M3-Review-Featured-Gear.jpg" alt="chappal" width="700" height="300">
      <div class="carousel-caption">
        <h1 class="text-white">MacBook Air</h1>
      </div>   
    </div>
 <div class="carousel-item">
      <img src="https://static1.xdaimages.com/wordpress/wp-content/uploads/2022/11/HP-Envy-x360-13-10-16.jpg" alt="Fortuner" width="700" height="300">
      <div class="carousel-caption">
        <h1 class="text-white">HP Envy x360</h1>
      </div>
  </div>
  <div class="carousel-item">
    <img src="https://cdn.arstechnica.net/wp-content/uploads/2023/06/IMG_1204.jpeg" alt="Fortuner" width="700" height="300">
    <div class="carousel-caption">
      <h1 class="text-white">Lenovo ThinkPad X1 Carbon</h1>
    </div>
</div>
<div class="carousel-item">
    <img src="https://i.pcmag.com/imagery/reviews/075bmVhnXs6BUHpdXkVt9xo-1.fit_lim.size_1050x591.v1708616444.jpg" alt="Fortuner" width="700" height="300">
    <div class="carousel-caption">
      <h1 class="text-white">Asus ZenBook 14</h1>
    </div>
</div>
<div class="carousel-item">
    <img src="https://cdn.mos.cms.futurecdn.net/sLjPJgQiYLxmJuLfUwrEed-1200-80.jpg" alt="Fortuner" width="700" height="300">
    <div class="carousel-caption">
      <h1 class="text-white">Microsoft Surface Laptop 3</h1>
    </div>
</div>
  </div>
  <a class="carousel-control-prev" href="#demo1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
	</div>

  <!-- Gallery -->
  <div class="row mt-5 container mx-auto">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img src="https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mba13-midnight-select-202402?wid=904&hei=840&fmt=jpeg&qlt=90&.v=1708367688034" class="w-100 shadow-1-strong rounded mb-4" alt="Apple MacBook Air" />
      <img src="https://cdn1.smartprix.com/rx-i0JvOKiav-w420-h420/dell-inspiron-3511-l.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Dell Inspiron Laptop" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="https://i.ebayimg.com/images/g/wE4AAOSwtbNlA9nb/s-l400.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="HP Envy Laptop" />
      <img src="https://www.techpowerup.com/img/HxOmJJl374AHNuCU.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Lenovo ThinkPad Laptop" />
    </div>
    <div class="col-lg-4 mb-4 mb-lg-0">
      <img src="https://www.apple.com/newsroom/images/product/mac/standard/Apple-MacBook-Pro-M2-Pro-and-M2-Max-hero-230117.jpg.og.jpg?202408191735" class="w-100 shadow-1-strong rounded mb-4" alt="Apple MacBook Pro" />
      <img src="https://www.cnet.com/a/img/resize/d74a570994a091d086e873af427f49030edd5c7a/hub/2024/01/09/78f15ff4-0582-4239-93e4-3633d38a53ca/asus-zenbook-duo-05.jpg?auto=webp&fit=crop&height=900&width=1200" class="w-100 shadow-1-strong rounded mb-4" alt="Asus ZenBook Laptop" />
    </div>
  </div>
  
<!-- Gallery -->